<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Management</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css" integrity="sha512-QeR2VH+lsBE5LSAe1Q5EnTBbe7XTBubt8dG93Y7gidSgdMCr8nVqKcfKAMyN96SV8KDbZVTDXChatu5G2KQGzg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.3.8/html5-qrcode.min.js" integrity="sha512-r6rDA7W6ZeQhvl8S7yRVQUKVHdexq+GAlNkNNqVC7YyIV+NwqCTJe2hDWCiffTyRNOeGEzRRJ9ifvRm/HCzGYg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <nav class="navbar bg-primary d-flex flex-column">
        <div class="container">
            <a class="navbar-brand fw-bold fs-1 text-light" href="{{ url_for('dashboard') }}">Attendance Management System</a>
        </div>
        <div class="container">
            <ul class="navbar-nav ms-auto d-flex flex-row">
                <li class="nav-item px-2 mx-2 fw-medium fs-5"><a class="nav-link active text-light" href="{{ url_for('dashboard') }}">Dashboard</a></li>
                <li class="nav-item px-2 mx-2 fw-medium fs-5"><a class="nav-link active text-light" href="{{ url_for('system_data') }}">System data</a></li>
                <li class="nav-item px-2 mx-2 fw-medium fs-5"><a class="nav-link active text-light" href="{{ url_for('attendance') }}">Attendance</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="error-messages">

        </div>
        <div class="content">
            {% block content %}

            {% endblock %}
        </div>
    </div>
</body>
</html>